@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.row {
    display: flex; /* Affiche les enfants côte à côte */
    width: 100%;
}

.login-image {
    width: 100%;           /* L'image prend toute la largeur du conteneur */
    max-width: 400px;      /* Limite la largeur de l'image à 400px */
    height: auto;          /* Garde les proportions de l'image */
    object-fit: cover;     /* L'image s'adapte au conteneur sans déformation */
    margin: 20px auto;     /* Centrer l'image et ajouter de l'espace autour */
    display: block;        /* Assurer que l'image soit un bloc */
  }
  

.login-container {
    width: 50%;  /* 50% de l'écran pour le formulaire */
    padding: 30px;
    border-left: 2px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-content {
    display: flex;
    width: 600px; /* Largeur du conteneur global */
    height: auto;
}




.login-form h2 {
    font-family: 'Pacifico', cursive;
    font-size: 32px;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    text-align: center;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
}

.input-group input:focus {
    border-color: #3897f0;
    outline: none;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #3897f0;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.signup-link {
    text-align: center;
    margin-top: 20px;
}

.signup-link a {
    color: #3897f0;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

#background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

canvas {
    display: block;
}
