@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}


.login-container {
    position: relative;
    z-index: 1;
    background-color:transparent;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #e7e7e7; /* Bordure grise */
    border-radius: 0; /* Suppression des bords arrondis */
    width: 300px;
}


.login-form h2 {
    text-align: center;
    margin-bottom: 200px;
    font-size: 24px;
    color: #333;
}


.login-wrapper{
    display : flex;
    justify-content: center;
    align-items: center;
    height: 200vh;

}

.login-image {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Permet à l'image de s'ajuster sans déformation */
}



.input-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre le contenu horizontalement */
}

.input-group label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    text-align: center; /* Centrer l'étiquette */
}

.input-group input {
    width: 300px; /* Largeur fixe pour centrer les champs */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
}

.input-group input:focus {
    border-color: #3897f0;
    outline: none;
}








.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #3897f0;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 10px; /* Arrondir les bords */
}





.signup-link {
    text-align: center;
    margin-top: 20px;
}

.signup-link a {
    color: #3897f0;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}




#background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Met le canvas en arrière-plan */
    overflow: hidden;
}

canvas {
    display: block;
}
